Repository stamchris/Board-game-: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, verif_client, verif_client_wasm, verif_serveur, verif_qml

Path conditions:
  pages: any of: client/**/*
  verif_client: any of: client/**/*
  verif_client_wasm: any of: client/**/*
  verif_serveur: any of: serveur/**/*
  verif_qml: any of: client/**/*

change popup text color again
  client/GameState.qml
Due: pages, verif_client, verif_client_wasm, verif_qml

change popup text
  client/Board.qml
  client/GameState.qml
Due: pages, verif_client, verif_client_wasm, verif_qml

change text of left button in game configuration
  client/GameCreation.qml
Due: pages, verif_client, verif_client_wasm, verif_qml

Kick security + unchecked when disconnect + update color in the lobby of connected players already and hide the password in the socket response
  client/Application.qml
  client/Lobby.qml
  serveur/src/player.cr
  serveur/src/requests.cr
Due: pages, verif_client, verif_client_wasm, verif_serveur, verif_qml

New style of deconnexion button
  client/Disconnect.qml
  client/Lobby.qml
  serveur/src/requests.cr
Due: pages, verif_client, verif_client_wasm, verif_serveur, verif_qml

Fix difficulty to be affected by the game config, change time from 60s to 120s, check some conditions for requests security
  client/Board.qml
  client/GameCreation.qml
  serveur/src/board.cr
  serveur/src/game.cr
  serveur/src/requests.cr
Due: pages, verif_client, verif_client_wasm, verif_serveur, verif_qml

Fix the game starting with a default difficulty of 3 and remove duplicate line in player.cr
  serveur/src/game.cr
  serveur/src/player.cr
  serveur/src/requests.cr
Due: verif_serveur

Remove ChangePosition request and UpdatePosition response, they were used for testing in the early stages
  client/Application.qml
  serveur/src/requests.cr
Due: pages, verif_client, verif_client_wasm, verif_serveur, verif_qml

No multi players with the same count
  serveur/src/player.cr
Due: verif_serveur

Already in game
  client/Application.qml
  serveur/src/player.cr
  serveur/src/requests.cr
Due: pages, verif_client, verif_client_wasm, verif_serveur, verif_qml
